*.bin
*.icf
/project/Timor/iar/settings
/project/Timor/iar
/project/Timor/Vs2013/Timor/Timor.opensdf
/project/Timor/Vs2013/Timor/Timor.sdf
/project/Timor/Vs2013/Timor/Timor.sln
/project/Timor/Vs2013/Timor/Timor.v12.suo
/project/Timor/Vs2013/Timor/Timor/Timor.vcxproj
/project/Timor/Vs2013/Timor/Timor/Timor.vcxproj.filters
/project/Timor/Vs2013/Timor/Timor/Debug/*.obj
/project/Timor/Vs2013/Timor/Timor/Debug/*.log
/project/Timor/Vs2013/Timor/Timor/Debug/Timor.tlog/*.tlog
/project/Timor/Vs2013/Timor/Timor/Debug/Timor.tlog/*.lastbuildstate
/project/Timor/Vs2013/Timor/Timor/Debug/Timor.tlog/*
/project/Timor/Vs2013/Timor/Timor/Debug/*.idb
/project/Timor/Vs2013/Timor/Timor/Debug/*.pdb
